body {
  text-align: center;

  div.main {
    margin-top: 45px;
  }

  form div.row {
    + div.row {
      margin-top: 12px;
    }

    div:first-child {
      text-align: right;
    }

    div:last-child {
      text-align: left;
    }
  }

  canvas {
    min-height: 700px;
  }
}
